.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links{
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.Logo {
    width: 90px ;
    height: 90px;
    border-radius: 9px;
}




.Head-li-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

.nav-li {
    text-decoration: none;
}